.lmo-c-y-switch {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    height: 30px;
    width: 60px;
    border-radius: 18px;
    transition: all .2s;
}

.lmo-c-y-switch:after {
    content: '';
    background: #fff;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: 30px;
    left: 6px;
}

.lmo-c-y-switch-off {
    background-color: #343337 !important;
}

.lmo-c-y-switch-off:after {
    left: 30px;
}
