.YButton {
    padding: 8px 22px;
    text-align: center;
    margin-right: 20px;
}

.YButton img {
    position: relative;
    padding: 0 4px;
    top: 2px;
}

.YButton-primary {
    background-color: #229EED;
}

.YButton:hover {
    background-color: #229EED;
}
