#__lmo__ {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

body {
    user-select: none;
}

select {
    border-radius: 4px;
    border: 0;
    padding: 4px 10px;
    background: #3B393E;
    color: #FFFFFF;
}

textarea {
    background-color: #343337;
    border: 0;
    border-radius: 4px;
    padding: 6px;
    resize: none;
}

.lmo_app-content {
    display: flex;
    user-select: none;
    overflow: hidden;
    height: calc(100vh - 40px);
}

.lmo-app-left-menu {
    width: 260px;
    background: #252528;
    height: 100vh;
    padding-top: 40px;
}

.lmo-app-left-menu-item {
    width: 220px;
    height: 60px;
    position: relative;
    left: calc((260px - 220px) / 2);
    border-radius: 10px;
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 28px;
}

.lmo-app-left-menu-item-active {
    background: #343337;
}

.lmo-app-left-menu-item:hover {

}

.lmo-app-left-menu-item-content {
    width: 102px;
    height: 46px;
    top: 20px;
    margin: auto;
    justify-content: space-between;
}

.lmo-app-content {
    width: calc(100vw - 260px);
    height: calc(100vh - 40px - 30px);
    background: #1B1B1C;
}


.lmo-app-footer {
    width: calc(100vw - 260px);
    height: 30px;
    font-size: 12px;
    color: #9E9E9E;
    background: #171718;
    position: absolute;
    line-height: 30px;
    text-align: center;
    bottom: 0;
}

.lmo-app-content-drop-file {
    width: 540px;
    height: 360px;
    border-radius: 20px;
    opacity: 1;
    background: #1F1F20;
    box-sizing: border-box;
    border: 1px dashed #353536;
    left: calc(((100vw - 260px) - 540px) / 2);
    top: calc(((100vh - 40px) - 360px) / 2);
    padding: 155px 118px;
}

.lmo-app-content-drop-file-select-file-icon {
    width: 42px;
    height: 42px;
    margin-right: 20px;
}

.lmo-app-content-drop-file-select-file-info span:nth-child(1) {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    color: #FFFFFF;
}

.lmo-app-content-drop-file-select-file-info span:nth-child(2) {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    color: #9E9E9E;
}

.lmo-app-resource {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.lmo-app-resource-content {
    padding: 40px 20px 0 20px;

}

.lmo-app-resource-item {
    height: 170px;
    margin-bottom: 30px;
    border-radius: 10px;
    background: #252528;
}

.lmo-app-resource-item-content {
    padding: 20px;
    justify-content: space-between;
}

.lmo-app-resource-item-content-in-info {
    width: 480px;
    height: 130px;
}

.lmo-app-resource-item-content-in-info img {
    width: 230px;
    height: 130px;
    border-radius: 10px;
}

.lmo-app-resource-item-content-in-info-bg {
    height: 100%;
    position: absolute;
    background: #00000066;
    top: 0;
    z-index: 999;
    border-radius: 10px;
}

.lmo-app-resource-item-content-in-info-box {
    margin-left: 20px;
}

.lmo-app-resource-item-content-in-info-name {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 22px;
    margin-top: 10px;
}

.lmo-app-resource-item-content-in-info-item {
    width: 230px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0;
    margin-bottom: 15px;
    color: #9E9E9E;
    justify-content: space-between;
}

.lmo-app-resource-item-content-output-info-box {
    height: 130px;
    background: #2C2C2F;
    border-radius: 10px;
    margin-left: 100px;
}

.lmo-app-resource-item-content-output-info-box-content {
    padding: 10px 30px;
}

.lmo-app-resource-item-content-controls {

}

.lmo-app-resource-item-content-controls button {
    background: rgba(64, 159, 238, 0.1);
    outline: none;
    height: 54px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    color: #409FEE;
    top: 38px;
}

.lmo-app-resource-item-content-controls button:nth-child(1) {
    padding: 14px;
    margin-right: 20px;
}

.lmo-app-resource-item-content-controls button:nth-child(2) {
    padding: 14px 60px;
}

.lmo-app-setting-item {
    display: flex;
    margin-bottom: 20px;
}

.lmo-app-setting-item-content {
    width: 60%;
    margin-left: 16px;
}

.lmo-app-setting-item-content button {
    margin-left: 12px;
    background-color: #343337;
    border: 0;
    padding: 0 6px;
    width: 80px;
    border-radius: 4px;
}

.lmo-app-setting-item-content button:hover {
    background-color: #229EED;
}

.lmo-app-setting-item-content span {
    line-height: 36px;
}

.lmo-app-setting-item-label {
    margin-top: 8px;
}

.lmo-app-setting-item input {
    width: 100%;
    background: #343337;
    border: 0;
    height: 36px;
    border-radius: 4px;
    padding: 0 20px;
}
