.lmo_header-controls {
    width: 100%;
    height: 40px;
    background: #171718;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.lmo_header-controls-app-name {
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0;
    margin-left: 20px;
}

.lmo_header-controls-block {
    width: calc(100vw - (300px + 120px));
    -webkit-app-region: drag;
}

.lmo_header-controls-operation {
    display: flex;
}

.lmo_header-controls-operation button {
    position: relative;
    width: 60px;
    height: 22px;
    border-radius: 4px;
    background: #29292D;
    font-size: 12px;
    line-height: 22px;
    margin-right: 20px;
    border: 0;
    top: 9px;
}

.lmo_header-controls-operation button > span > img {
    position: relative;
    margin-right: 2px;
    top: 2px;
}

.lmo_header-controls-operation button:hover {
    background: #229EED;;
}

.lmo_header-controls-window-buttons {
    display: flex;
}

.lmo_header-controls-window-buttons-item {
    width: 40px;
    height: 40px;
}

.lmo_header-controls-window-buttons-item:hover {
    background: #29292D;
}

.lmo_header-controls-window-buttons-item:nth-child(3):hover {
    background: #E20000;
}

.lmo_header-controls-window-buttons-item > button {
    background: rgba(97, 218, 251, 0);
    border: 0;
    position: relative;
    top: 4px;
    left: 8px;
}
