.lmo_header-controls {
    width: 100%;
    height: 40px;
    background: #171718;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.lmo_header-controls-app-name {
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 0;
    margin-left: 20px;
}

.lmo_header-controls-block {
    width: calc(100vw - (300px + 120px));
    -webkit-app-region: drag;
}

.lmo_header-controls-operation {
    display: flex;
}

.lmo_header-controls-operation button {
    position: relative;
    width: 60px;
    height: 22px;
    border-radius: 4px;
    background: #29292D;
    font-size: 12px;
    line-height: 22px;
    margin-right: 20px;
    border: 0;
    top: 9px;
}

.lmo_header-controls-operation button > span > img {
    position: relative;
    margin-right: 2px;
    top: 2px;
}

.lmo_header-controls-operation button:hover {
    background: #229EED;;
}

.lmo_header-controls-window-buttons {
    display: flex;
}

.lmo_header-controls-window-buttons-item {
    width: 40px;
    height: 40px;
}

.lmo_header-controls-window-buttons-item:hover {
    background: #29292D;
}

.lmo_header-controls-window-buttons-item:nth-child(3):hover {
    background: #E20000;
}

.lmo_header-controls-window-buttons-item > button {
    background: rgba(97, 218, 251, 0);
    border: 0;
    position: relative;
    top: 4px;
    left: 8px;
}

dialog {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: #050505b8;
}

.dialog {
    width: 560px;
    padding: 0;
    min-height: 350px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    z-index: 9;
    border: 1px solid #2D2D2E;
    background: #1B1B1C;
    border-radius: 10px;
    position: absolute;
    top: calc((100vh - 350px) / 2);
    left: calc((100vw - 560px) / 2);
}

.dialog-header {
    width: 100%;
    height: 32px;
    line-height: 22px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.dialog-content {
    padding: 20px;
    height: 210px;
    border-top: 1px solid #2D2D2E;
    border-bottom: 1px solid #2D2D2E;
}

.dialog-controls-buttons {
    position: relative;
    top: 16px;
    display: flex;
    justify-content: end;
    height: 66px;
}

.dialog-controls-buttons button {
    width: 70px;
    height: 26px;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    background: #4F4F56;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin-right: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.dialog-controls-buttons button:nth-child(1) {
    background: #229EED;;
}

.lmo-app-about {
    text-align: center;
}

.lmo-app-about-app-name {
    margin-top: 16px;
    padding-bottom: 38px;
}

.lmo-app-about h2 {
    font-weight: bold;
}

.lmo-app-about-logo {
    width: 408px;
    margin: auto auto 16px;
}

.lmo-app-about-logo img {
    width: 180px;
    margin: 0 12px;
    border-radius: 50%;
}

.lmo-app-about-line {
    height: 1px;
    background: #FBFBFD;
    width: 60%;
    margin: auto;
}

.lmo-app-about-version {
    line-height: 38px;
    margin-top: 18px;
    margin-bottom: 12px;
}
